main {
  overflow-x: hidden;
  overflow-x: clip;
}

.reveal{
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}

.revealLeft {
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateX(0);
  opacity: 1;
}

.brand, .splash {
  font-family: 'Splash', cursive;
}

.project-details {
  display: none;
  position: absolute;
  width: 80vw;
  top: 15%;
  left: 10vw;
  margin: auto;
  z-index: 1000;
}

/* .project-card {
  width: 100%;
} */